  body, html {
    width: 100%;
    height: 100%;
  }

  #slideOne {
    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    background-color: rgb(54, 54, 54);
    h1 {
      color: white;
      text-align: center;
      font-size: 6rem;
    }
    h2 {
      color: white;
      text-align: center;
        font-size: 3rem;
        font-weight: 300;
    }
    display: table;
  }
#SlideOneContent {
  display: table-cell;
    vertical-align: middle;
}
.menu {
  a {
    color: rgb(60, 60, 60)!important;
    margin-left: 20%;
    font-weight: bold!important;
  }
}
