/*
Error: Invalid flag "!important".
        on line 17 of /Users/ronan/Desktop/Dev/brainstorminc/brainstorminc.github.io/cdn/bulma/sass/components/tabs.sass

12: $tabs-boxed-link-hover-background-color: $background !default
13: $tabs-boxed-link-hover-border-bottom-color: $border !default
14: 
15: $tabs-boxed-link-active-background-color: $white !default
16: $tabs-boxed-link-active-border-color: $border !default
17: $tabs-boxed-link-active-border-bottom-color: transparent !important !default
18: 
19: $tabs-toggle-link-border-color: $border !default
20: $tabs-toggle-link-border-style: solid !default
21: $tabs-toggle-link-border-width: 1px !default
22: $tabs-toggle-link-hover-background-color: $background !default

Backtrace:
/Users/ronan/Desktop/Dev/brainstorminc/brainstorminc.github.io/cdn/bulma/sass/components/tabs.sass:17
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:749:in `parse_variable'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:642:in `parse_line'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:536:in `build_tree'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:409:in `_to_tree'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `load'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid flag \"!important\".\A         on line 17 of /Users/ronan/Desktop/Dev/brainstorminc/brainstorminc.github.io/cdn/bulma/sass/components/tabs.sass\A \A 12: $tabs-boxed-link-hover-background-color: $background !default\A 13: $tabs-boxed-link-hover-border-bottom-color: $border !default\A 14: \A 15: $tabs-boxed-link-active-background-color: $white !default\A 16: $tabs-boxed-link-active-border-color: $border !default\A 17: $tabs-boxed-link-active-border-bottom-color: transparent !important !default\A 18: \A 19: $tabs-toggle-link-border-color: $border !default\A 20: $tabs-toggle-link-border-style: solid !default\A 21: $tabs-toggle-link-border-width: 1px !default\A 22: $tabs-toggle-link-hover-background-color: $background !default"; }
