body,
html {
  width: 100%;
  height: 100%;
}

#main {
  padding: 3%;
  height: 100vh;
  display: table;

  #whoami {
    margin-top: 5%;
    font-size: 500%;
    @media only screen and (max-width: 1920px) {
      font-size: 40pt;
    }
    @media only screen and (max-width: 1366px) {
      font-size: 32pt;
    }
    @media only screen and (max-width: 1024px) {
      font-size: 20pt;
    }
  }

  #whoamisub {
    @media only screen and (max-width: 1024px) {
      font-size: 15pt;
    }
  }
  color: rgb(54, 54, 54);
}

#slideOne {
  height: 100vh;
  width: 100%;

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  background-color: rgb(54, 54, 54);

  h1 {
    color: white;
    text-align: center;
    font-size: 6rem;
    @media only screen and (max-width: 568px) {
      font-size: 30pt;
    }
    @media only screen and (max-width: 320px) {
      font-size: 25pt;
    }
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    @media only screen and (max-width: 568px) {
      font-size: 15pt;
    }
    @media only screen and (max-width: 320px) {
      font-size: 10pt;
    }
  }
  display: table;
}

#SlideOneContent {
  display: table-cell;
  vertical-align: middle;
}

#maintitle {
  display: table-cell;
  vertical-align: middle;
}

.grey {
  background: rgb(54, 54, 54);
}

.white {
  color: white;
}

#siup {
  margin-top: 2%;
}

#fishmvmnt {
  margin-top: 5%;
  text-align: right;
}

#pscolab {
  margin-top: 5%;
  text-align: right;
}

#showcase {
  padding: 3%;
}

#simpledocs {
  margin-top: 5%;
}

#contact {
  padding: 5%;
}
